#cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.card {
  margin: 170px 30px 0;
  background-color: #f0efef;
  border-radius: 20px;
  position: relative;
  width: 220px;
  height: auto;

}

.card>.content {
  padding: 20px 35px;
  margin-top: 100px;
  text-align: left;
}

.content h3 {
  font-size: 22px;
}

.cards-wrapper {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.cards-wrapper img {
  border-radius: 50%;
  position: absolute;
  width: 210px;
  height: 210px;
  z-index: 1;
  margin: 60px 0;
  max-width: 100%;
  object-fit: cover;

  /* margin-bottom: 60px; */
}

.card button {
  padding: 5px 10px;
  border: none;
  font-weight: bold;
  background-color: rgba(232, 19, 19, 0.705);
  color: white;
  outline: none;
}