.Contact-content {
  width: 50%;
}

.Contact-content p {
  padding: 0 0 30px 0;
}

.form-group {
  padding: 10px 0;
  display: grid;

}

.form-group input {
  border-radius: 7px;
  padding: 10px;
  background-color: rgb(249 249 249);
  border: none ;
  font-size: 14px;
}

.form-group_name {
  display: flex;
  justify-content: center;
}

.form-group_name>.form-group {
  padding: 0 6px 10px 0;
  width: 50%;
}


.btn {
  width: 100%;
  border-radius: 20px;
  background: rgba(232, 19, 19, 0.705);
  border: none;

}

textarea {
  height: 100px;
  border-radius: 10px;
  font-size: 14px;
  background-color: #f9f9f9;
  border: none;
  padding: 10px;

}

.btn:hover {
  background: rgba(165, 18, 18, 0.705);
  color: rgb(255, 215, 0);
}

@media screen and (max-width: 764px) {
  .Contact-form {
    padding: 0 20px 20px;
  }

  .Contact-content {
    width: 100%;
  }

  .form-group_name {
    display: contents;

  }

  .form-group_name>.form-group {
    /* padding: 0 2px 10px 0; */
    width: 100%;
  }

  .form-group label {
    text-align: center;
    /* width: 170px; */
  }

  .form-group input {
    width: 100%;
    padding: 10px;
  }

  textarea {
    height: 100px;
    width: 100%;
    padding: 10px;
  }

  .Contact-content p {
    padding: 0;
  }
}